{% extends 'main.html' %}

{% block content %}
<h1>Home Page</h1>
<Section class="container--events">
    <h3>Events</h3>
    <div class='events--lists'>
        {% for event in events %}
        <a href="{% url 'event' event.id %}"">
        <div class="wrapper--event">
          <h3> {{event.name}} </h3>
          <p>{{event.participants.count}} registered</p>
          <p>Registration Deadline: {{event.registration_deadline}}</p>
        </div>
        </a>
        {% endfor %}
    </div>
</Section>
<section>
    <h3>Users :</h3>

    <div class="users--lists section">
        {% for user in users %}
            <a href="{% url 'profile' user.id%}">
                <div class="wrapper--user">
                   <img class="user--avatar--sm" src="{{user.avatar.url}}" />
                    <h4>{{user.name}}</h4>
             
                </div>
            </a>
        {% endfor %}
    </div>
   
</section>
{% endblock content %}